{% extends "base.html" %} {% block content %} {% include 'nav_index.html' %}
<!-- Main -->
<div id="main">

  <!-- Call For Papers -->
  <section id="cfp" class="main">
    <div class="spotlight">
      <div class="content">
        <header class="major">
          <h2>Call For Papers</h2>
        </header>
        <p>PyCon Indonesia is pleased to announce that the Call For Proposals is now open. We are calling out for speakers to
          share their Python knowledge (in the form of Talks, Workshop and Posters) which would intrigue the Python community
          at this event! We’re looking for proposals on every aspect of Python: from basic to advanced levels. We’re interested
          to see all content that’s interesting and engaging to the Python community, whether it be tutorials, case studies,
          interactive sessions, or even how you and your organization works with Python. So if you have something that the
          community might be interested in, let us know; and don’t worry if you’re a seasoned engineer or a novice with no
          experience of presenting at a conference before; what matters is the content that you’ll be sharing with the community.</p>
        <ul class="actions">
          <li>
            <a href="cfp.html" class="button">Learn More</a>
          </li>
        </ul>
      </div>
      <span class="image">
        <img src="images/pic01.jpg" alt="" />
      </span>
    </div>
  </section>

  <!-- sponsorship Section -->
  <section id="sponsor" class="main special">
    <header class="major">
      <h2>Sponsorships</h2>
      <p>
        Why be a sponsor PyCon ID is the largest annual gathering for the community using and developing the open-source Python programming
        language in Indonesia. PyCon ID 2017 provides various sponsoring packages that will fulfill your business needs.
        If you are interested in sponsoring PyCon ID, please apply from link below. It's the sponsoring companies which make
        this conference possible. Support money will be used for below.
        <ul>
          <ol>Accommodation fee for guest speakers</ol>
          <ol>Video streaming, recording, and translation</ol>
          <ol>Lunch, dining and swags for audience Financial aid for foreigners</ol>
        </ul>
      </p>
    </header>
    <ul class="features">
      <li>
        <span class="icon major style1 fa-code"></span>
        <h3>Diamond Level Sponsor (limited to one sponsor)</h3>
        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
      </li>
      <li>
        <span class="icon major style3 fa-copy"></span>
        <h3>Platinum Level Sponsor (limited to three sponsors) </h3>
        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
      </li>
      <li>
        <span class="icon major style5 fa-diamond"></span>
        <h3>Gold Level Sponsor (limited to seven sponsors)</h3>
        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
      </li>
      <li>
        <span class="icon major style5 fa-diamond"></span>
        <h3>Silver Level Sponsor</h3>
        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
      </li>
    </ul>
    <footer class="major">
      <ul class="actions">
        <li>
          <a href="sponsorship.html" class="button">Learn More</a>
        </li>
      </ul>
    </footer>
  </section>

  <!-- About Section -->
  <section id="about" class="main special">
    <header class="major">
      <h2>About PyCon Indonesia 2017</h2>
      <p>PyCon ID is a conference where Python users, or people interested in Python, gather to learn from each other and meet
        other members of the community. We hope that everyone joining PyCon ID will not only learn new and exciting things,
        but also meet new friends and strengthen the connection with the community, and thus the community itself. This year,
        we chose "Show & Take" as our theme. The Pycon ID staff is continuing to work hard on making a conference that will
        allow everyone to have a great time and unlock new possibilities through Python.</p>
    </header>
    <ul class="statistics">
      <li class="style1">
        <span class="icon fa-code-fork"></span>
        <strong>5,120</strong> Etiam
      </li>
      <li class="style2">
        <span class="icon fa-folder-open-o"></span>
        <strong>8,192</strong> Magna
      </li>
      <li class="style3">
        <span class="icon fa-signal"></span>
        <strong>2,048</strong> Tempus
      </li>
      <li class="style4">
        <span class="icon fa-laptop"></span>
        <strong>4,096</strong> Aliquam
      </li>
      <li class="style5">
        <span class="icon fa-diamond"></span>
        <strong>1,024</strong> Nullam
      </li>
    </ul>
    <p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci
      mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan
      sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis
      est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor.
      Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui
      curabitur lacinia.</p>
    <footer class="major">
      <ul class="actions">
        <li>
          <a href="generic.html" class="button">Learn More</a>
        </li>
      </ul>
    </footer>
  </section>

  <!-- Code of Conduct -->
  <section id="coc" class="main special">
    <header class="major">
      <h2>Code of Conduct</h2>
      <p>PyCon ID is a conference organized and run by volunteers in the Indonesia Python community that is dedicated to advancing
        and promoting the Python programming language. Through holding the PyCon ID conference, Python users can gather and
        exchange information with other deveopers from a wide variety of fields. It is our aim to create new relationships
        between the different communities and businesses using Python.</p>
    </header>
    <footer class="major">
      <ul class="actions">
        <li>
          <a href="generic.html" class="button special">Get Started</a>
        </li>
        <li>
          <a href="generic.html" class="button">Learn More</a>
        </li>
      </ul>
    </footer>
  </section>

</div>
{% endblock content %}
