<nav id="nav">
  <ul>
    <li class="current">
      <a href="/">
        <span class="icon fa-home"></span>&nbsp;Home</a>
    </li>
    {% if DISPLAY_PAGES_ON_MENU %} {% for page in PAGES %}
    <li>
      <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %} {% endif %}
    <li>
      <a class="button special" href="/schedules" target="blank">
        <span class="icon fa-calendar"></span>&nbsp;Schedules</a>
    </li>
    <li>
      <a class="button special" href="http://ticket.pycon.id" target="blank">
        <span class="icon fa-ticket"></span>&nbsp;Ticket</a>
    </li>
  </ul>
</nav>
