<!-- Nav -->
<nav id="nav">
  <ul>
    <li>
      <a href="#about">About PyCon ID</a>
    </li>
    <li>
      <a href="#speakers">Speakers</a>
    </li>
    <!-- <li>
      <a href="#cfp" class="active">CFP</a>
    </li> -->
    <li>
      <a href="#sponsor">Sponsors</a>
    </li>
    <li>
      <a href="#coc">Code of Conduct</a>
    </li>
    <li>
      <a class="button special" href="/schedules" target="blank">
        <span class="icon fa-calendar"></span>&nbsp;Schedules</a>
    </li>
    <li>
      <a class="button special" href="http://ticket.pycon.id" target="blank">
        <span class="icon fa-ticket"></span>&nbsp;Ticket</a>
    </li>
  </ul>
</nav>
