{% extends "base.html" %} {% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %} {% block content
%} {% include 'nav_pages.html' %}
<!-- Main -->
<article id="main">
  <!-- One -->
  <section class="main">

    <!-- Content -->
    <div class="content">
      <header class="major">
        <h2>{{ page.title }}</h2>
      </header>
      <section>
        <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
        <p>{{ page.content }}</p>
      </section>
    </div>

  </section>

  <!-- Two -->
  <!-- {% include 'most_recent.html' %} -->

</article>
{% endblock content %}
